<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <!-- Spectral template CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <style>
      .container {
        padding: 20px;
      }

      .card {
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">User Data</h1>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < user.length; i++) { %>
                  <tr>
                    <td><%= user[i].id %></td>
                    <td><%= user[i].fullName %></td>
                    <td><%= user[i].email %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
